http	shy;

server {
	listen		80;
	error_page	403;
	redirect	http://localhost:8080/helloworld.html;
	location	/cgi_test {
		root		/python_file;
		autoindex	on;
		index		index.html index.py;
		cgi_exec	/usr/bin/python3;
		cgi_path	/post.py;
		cgi_local	/post.py;
		allow		GET POST DELETE;
	}
}

server {
	listen		8080;
	error_page	403;
	redirect	http://lasdfasdf:8080/byeworld.html;
	location	/cgi_test {
		root		/python_file;
		autoindex	on;
		index		index.html index.py;
		cgi_exec	/usr/bin/python3;
		cgi_path	/post.py;
		cgi_local	/post.py;
		allow		GET POST DELETE;
	}
}
