include Config/mime.types;

server {
	listen		80;
	root		/html;
	server_name helloworld.com;

	location	/ {
		root		/html;
		autoindex	on;
		index		index.html index.py;
		allow		GET POST DELETE;
	}
	location /html {
		autoindex on;
		allow GET POST DELETE;
	}
	location /error_page {
		root		/error_page;
		allow		GET POST DELETE;
		index		418.html;
	}
	location /cgi-post {
		root		/cgi-bin;
		allow		POST;
		cgi_exec	/usr/bin/python3;
		cgi_path	/post.py;
	}
}

server {
	listen		80;
	server_name helloworld.net;
	location	/html {
		root		/python_file;
		autoindex	on;
		index		index.html index.py;
		cgi_exec	/usr/bin/python3;
		cgi_path	/post.py;
		cgi_local	/post.py;
		allow		GET POST DELETE;
	}
}

server {
	listen		8080;
	server_name helloworld.com;
	location	/html {
		root		/python_file;
		autoindex	on;
		index		index.html index.py;
		cgi_exec	/usr/bin/python3;
		cgi_path	/post.py;
		cgi_local	/post.py;
		allow		GET POST DELETE;
	}
	location	/ {
		autoindex	on;
		index		index.html index.py;
		cgi_exec	/usr/bin/python3;
		cgi_path	/post.py;
		cgi_local	/post.py;
		allow		GET POST DELETE;
	}
}
