include Config/mime.types;

server {
	listen		80;
	root		/html;
	server_name helloworld.com;
	redirect	http://localhost:8080/helloworld.html;
	location	/ {
		root		/html;
		autoindex	on;
		index		index.html index.py;
		cgi_exec	/usr/bin/python3;
		cgi_path	/post.py;
		cgi_local	/post.py;
		allow		GET POST DELETE;
	}
	location /error_page {
		root		/;
		allow		GET POST DELETE;
		index		418.html
	}
}

server {
	listen		80;
	server_name helloworld.net;
	redirect	http://localhost:8080/helloworld.html;
	location	/html {
		root		/python_file;
		autoindex	on;
		index		index.html index.py;
		cgi_exec	/usr/bin/python3;
		cgi_path	/post.py;
		cgi_local	/post.py;
		allow		GET POST DELETE;
	}
}

server {
	listen		8080;
	server_name helloworld.com;
	redirect	http://lasdfasdf:8080/byeworld.html;
	location	/html {
		root		/python_file;
		autoindex	on;
		index		index.html index.py;
		cgi_exec	/usr/bin/python3;
		cgi_path	/post.py;
		cgi_local	/post.py;
		allow		GET POST DELETE;
	}
	location	/ {
		autoindex	on;
		index		index.html index.py;
		cgi_exec	/usr/bin/python3;
		cgi_path	/post.py;
		cgi_local	/post.py;
		allow		GET POST DELETE;
	}
}
