include Config/mime.types

server {
	listen 8003;
	cgi_extension bla;
	cgi_info cgi_tester;

	location / {
		root		/YoupiBanane;
		allow		GET;
		index		youpi.bad_extension;
		autoindex	on;
	}

	location /put_test {
		root		/YoupiBanane/put_test;
		allow		PUT;
		index		index.html;
		autoindex	off;
	}

	location /post_body {
		root					/YoupiBanane;
		allow					POST;
		index					youpi.bla;
		autoindex				off;
		client_max_body_size	100;
	}

	location /directory {
		root		/YoupiBanane;
		allow		GET POST;
		index		youpi.bad_extension;
		autoindex	off;
	}
}

server {
	listen		80;
	server_name helloworld.com;

	location	/ {
		root		/html;
		index		index.html;
		allow		GET POST DELETE;
	}

	location /html {
    root      /html;
		allow     GET POST DELETE;
		autoindex on;
	}

	location /error_page {
		root		  /error_page;
    autoindex on;
		allow		  GET;
	}

	location /toupper {
		root		  /cgi-bin;
		allow		  GET POST;
		cgi_info	toupper.py;
	}

	location /echo {
		root		  /cgi-bin;
		allow		  GET POST;
		cgi_info	echo.pl;
	}

  location /secret {
    root        /auth;
    index       secret.html;
    allow       GET;
    auth_basic  on;
  }
}

