include Config/mime.types

server {
	listen 8003;
	cgi_extension bla;
	cgi_exec /cgi_tester;
	cgi_path /post.py;

	location / {
		root		/YoupiBanane;
		allow		GET;
		index		youpi.bad_extension;
		autoindex	on;
	}

	location /put_test {
		root		/YoupiBanane/put_test;
		allow		PUT;
		index		index.html;
		autoindex	off;
	}

	location /post_body {
		root					/YoupiBanane;
		allow					POST;
		index					youpi.bla;
		autoindex				off;
		client_max_body_size	100;
	}

	location /directory {
		root		/YoupiBanane;
		allow		GET POST;
		index		youpi.bad_extension;
		autoindex	off;
	}
}
